interactions:
- request:
    body: '{"query": "\n            mutation productDelete($input: ProductDeleteInput!)
      {\n              productDelete(input: $input) {\n                deletedProductId\n                userErrors
      {\n                  message\n                }\n              }\n            }",
      "variables": {"input": {"id": "gid://shopify/Product/9311412060380"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2021-07/graphql.json
  response:
    body:
      string: '{"data":{"productDelete":{"deletedProductId":null,"userErrors":[{"message":"Product
        does not exist"}]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1990,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-asia-southeast1,gcp-us-central1,gcp-us-central1
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-04
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '6014211'
      x-stats-apipermissionid:
      - '343856611548'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
version: 1
