interactions:
- request:
    body: '{"query": "\n        {\n            shop {\n                name\n                id\n            }\n        }\n        "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"shop":{"name":"hotglue testing 1","id":"gid://shopify/Shop/60227551452"}},"extensions":{"cost":{"requestedQueryCost":1,"actualQueryCost":1,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1999,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shardid:
      - '219'
      x-shopid:
      - '60227551452'
      x-shopify-api-version:
      - 2024-07
      x-sorting-hat-podid:
      - '219'
      x-sorting-hat-shopid:
      - '60227551452'
      x-stats-apiclientid:
      - '6014211'
      x-stats-apipermissionid:
      - '343856611548'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n                query($filter:String){\n                locations(first:
      25, query: $filter) {\n                    edges {\n                    node
      {\n                        id\n                        name\n                        isActive\n                    }\n                }\n                }\n                }\n        ",
      "variables": {"filter": null}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"locations":{"edges":[{"node":{"id":"gid://shopify/Location/65743388892","name":"8819
        Ridge Road","isActive":true}}]}},"extensions":{"cost":{"requestedQueryCost":8,"actualQueryCost":3,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1997,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shardid:
      - '219'
      x-shopid:
      - '60227551452'
      x-shopify-api-version:
      - 2024-07
      x-sorting-hat-podid:
      - '219'
      x-sorting-hat-shopid:
      - '60227551452'
      x-stats-apiclientid:
      - '6014211'
      x-stats-apipermissionid:
      - '343856611548'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n            query tapShopify($first: Int, $query: String)
      {\n                productVariants(first: $first, query: $query) {\n                    edges
      {\n                        cursor node {\n                            id\n                            product
      {\n                                id\n                            }\n                        }\n                    },\n                pageInfo
      { hasNextPage }\n                }\n            }\n        ", "variables": {"first":
      1, "query": "sku-51945901"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"productVariants":{"edges":[{"cursor":"eyJsYXN0X2lkIjo0NjQyNTEyNTQ4NjgxMiwibGFzdF92YWx1ZSI6NDY0MjUxMjU0ODY4MTJ9","node":{"id":"gid://shopify/ProductVariant/46425125486812","product":{"id":"gid://shopify/Product/8924931817692"}}}],"pageInfo":{"hasNextPage":false}}},"extensions":{"cost":{"requestedQueryCost":4,"actualQueryCost":4,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1996,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shardid:
      - '219'
      x-shopid:
      - '60227551452'
      x-shopify-api-version:
      - 2024-07
      x-sorting-hat-podid:
      - '219'
      x-sorting-hat-shopid:
      - '60227551452'
      x-stats-apiclientid:
      - '6014211'
      x-stats-apipermissionid:
      - '343856611548'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n                mutation productUpdate($input: ProductInput!)
      {\n                productUpdate(input: $input) {\n                    product
      {\n                    id\n                    }\n                }\n                }",
      "variables": {"input": {"id": "gid://shopify/Product/8924931817692", "title":
      "Nassredean v9", "descriptionHtml": "Software Engineer"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"productUpdate":{"product":{"id":"gid://shopify/Product/8924931817692"}}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1990,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shardid:
      - '219'
      x-shopid:
      - '60227551452'
      x-shopify-api-version:
      - 2024-07
      x-sorting-hat-podid:
      - '219'
      x-sorting-hat-shopid:
      - '60227551452'
      x-stats-apiclientid:
      - '6014211'
      x-stats-apipermissionid:
      - '343856611548'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "\n            mutation productVariantsBulkUpdate($productId:
      ID!, $variants: [ProductVariantsBulkInput!]!) {\n            productVariantsBulkUpdate(productId:
      $productId, variants: $variants) {\n                product\n                {\n                    id\n                }\n                productVariants
      {\n                    id\n                }\n            }\n            }",
      "variables": {"productId": "gid://shopify/Product/8924931817692", "variants":
      [{"id": "gid://shopify/ProductVariant/46425125486812", "inventoryItem": {"sku":
      "sku-51945901"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"productVariantsBulkUpdate":{"product":{"id":"gid://shopify/Product/8924931817692"},"productVariants":[{"id":"gid://shopify/ProductVariant/46425125486812"}]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1990,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shardid:
      - '219'
      x-shopid:
      - '60227551452'
      x-shopify-api-version:
      - 2024-07
      x-sorting-hat-podid:
      - '219'
      x-sorting-hat-shopid:
      - '60227551452'
      x-stats-apiclientid:
      - '6014211'
      x-stats-apipermissionid:
      - '343856611548'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
version: 1
